@charset "UFT-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0:black;
    --cor1:white;
}

header {
    background-color: var(--cor0);
    color: var(--cor1);
    text-align: center;
    padding: 50px;

}

header > h1 {
    font-size: 3em;
    font-weight: bolder;
}

header > p {
    padding-top: 10px;
    font-weight: normal;
}

header > p > a {
    text-decoration: none;
    color: var(--cor1);
    font-weight: bolder;

}

main {
    border: 1px solid red;
}

main section p  {
    border: 1px solid red;
    line-height: 2em;
    width: 300px;
}

footer {
    background-color:var(--cor0);
    color: var(--cor1);
}