@charset "UFT-8";

  @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Indie+Flower&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0:black;
    --cor1:white;
    --cor2: #abd1b578;

    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte_principal: 'Black Ops One', cursive;
    --fonte_escrita: 'Indie Flower', cursive;
}

body {
    min-height: 100vh;
    background-color: var(--cor2);
    font-family: var(--fonte1);
}

header {
    background-color: var(--cor0);
    color: var(--cor1);
    text-align: center;
    padding-bottom: 50px;

}

header > h1 {
    font-size: 10vw;
    font-weight: bolder;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte_principal);
}

header > p {
    padding-top: 10px;
    font-weight: normal;
}

header a, footer a {
    text-decoration: none;
    color: var(--cor1);
    font-weight: bolder;

}

header a:hover, footer a:hover {
    text-decoration: underline;
}

main section {
    padding: 10vh 0;
    line-height: 5vw;
    padding-left: 40px;
    font-family: var(--fonte_escrita);
}

section.normal {
    background-color: var(--cor1);
    color: var(--cor0);
}

section > p {
    padding-bottom: 2em;
}

section.imagem {
    background-color: rgb(111, 111, 111);
    color: var(--cor1);
    box-shadow: inset 5px 5px 13px 0 rgba(0, 0, 0, 0.491);    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

section#img01 {
    background-image: url(./imagens/background001.jpg);
}

section#img02 {
    background-image: url(./imagens/background002.jpg);
}

section.imagem > p {
    background-color: rgba(128, 128, 128, 0.379);
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 1px 1px black;
}

footer {
    background-color:var(--cor0);
    color: var(--cor1);
    text-align: center;
    padding: 10px;
}